/* Global styles */
* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

/* 헤더코드 */
.main1Bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAEEEE;
  height: 500px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.mainText1 {
  text-align: left;
  margin-right: 50px;
}

.rabbit2 img {
  max-width: 100%;
  height: 400px;
  margin-right:50px;
}

.mainHeading {
  font-size: 54px;
  color: #3C3C3C;
  white-space: nowrap;
  margin-bottom: 30px;
}

.subHeading {
  font-size: 20px;
  color: #8C8C8C; 
}

.surHeading {
  font-size: 20px;
  color: #4A362B;
  margin-bottom: 30px;
  font-weight: bold;
}

/* 인기글과 게시물 스타일 */
.popularPostsHeading {
  display: flex;
  justify-content: center;
}
.popularPostsHeading h2{
  width: 100%;
  max-width: 1200px;
  margin-left: 1%;
}
.postListGrid{
  display: flex;
  justify-content: center;
}

.postListGrid > div {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: 0 1%; 
  max-width: 1200px; 
  margin-bottom: 50px; 
  margin-top: 50px;
}

/* 컨테이너 스타일 */
.container {
  display: flex;
  align-items: center; 
}

/* 자식 요소 스타일 */
/* .popularPostsHeading,
.postListGrid {
  width: 30%; 
} */

.postListGrid > div > div {
  width: 30%;
  margin: 1%; 
}
