.pageContainer {
    background-color: #FAEEEE; 
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2E2E2;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    transform: translate(305%, 50%);
    font-size: 20px;
}

.photo svg {
    height: 80px;
    width: 80px;
}

.upload {
    transform: translate(37%, -50%);
    display: flex;
    gap: 8px;
}

.upload img {
    width: 140px;
    height: 140px;
    border-radius: 5px;
}

.title {
    margin-top: 7%;
    margin-left: 27%;
    width: 47%;
}

.title input {
    width: 100%;
    font-size: 15px;
    padding: 13px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
    box-sizing: border-box;
}

.label {
    color: #4A362B;
    font-size: 20px;
}

.category {
    margin-top: 16px;
    transform: translate(27%, 10%);
}

.categoryList {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #9D9D9D;
    width: 200px;
    margin-top: 20px;
    overflow: hidden; 
}

.categoryItem {
    padding: 10px;
    cursor: pointer;
}

.selectedCategory {
    background-color: #e2e2e2;
}

.price {
    margin-top: 5%;
    margin-left: 27%;
    width: 47%;
}

.price input {
    width: 100%;
    font-size: 15px;
    padding: 13px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
    box-sizing: border-box;
}

.description {
    margin-top: 50px;
    margin-left: 27%;
}

.description textarea {
    width: 64%;
    height: 150px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
    box-sizing: border-box;
}

.selectGu, .period, .location, .people {
    margin-top: 50px;
    margin-left: 27%;
}

.recruitment {
    width: 62%;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #9D9D9D;
    color: #757575;
    border-radius: 8px;
    font-size: 15px;
    padding: 13px;
}

.recruitment svg{
    color: #757575;
    margin-left: 82%;
}

.button {
    margin-left: 27%;
    margin-top: 8%;
}

.leftDistrict, .rightDistrict {
    width: 90%;
    height: 50px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #9D9D9D;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 20px; 
}

.rightDistrict {
    margin-left: 30%; 
}

.leftDistrict select, .rightDistrict select {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    text-align-last: center; 
}

.selectBox {
    margin-left: 30%;
    margin-top: 50%;
}

.link {
    margin-top: 50px;
    margin-left: 27%;
    width: 48.5%;
}

.link input {
    width: 100%;
    font-size: 15px;
    padding: 13px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 25px;
}

.copyContainer {
    display: flex;
    align-items: center;
}

.copyIcon {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}

.selectBar {
    width: 64%;
    font-size: 15px;
    padding: 13px;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 25px;
}
