.pageContainer {
    background-color: #FAEEEE; /* 노란색 배경색으로 변경하려면 #FFFF00을 사용하세요 */
    height: 100vh; /* 화면 전체 높이로 설정 */
    /* overflow: hidden; 컨텐츠가 넘치면 숨김 처리 */
    color: #000000; /* 글자 색상 설정 (검은색) */
}