/* Styles.module.css */

body {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
  }
  /* Nav2.module.css */
/* Nav2 컴포넌트 스타일 */
.navContainer {
  /* 다른 스타일 속성들 */
  margin-bottom: 0;
}

  
  .introBg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3CBD2;
    height: 784px;
    margin-top: 0;
    margin-bottom: 0; /* 추가 */
  }
  
  .main1Bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAEEEE;
    height: 750px;

  }
  
  .main2Bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1D3C6;
    height: 750px;
  }
  
  .main3Bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBF2E9;
    height: 750px;
  }
  
  .mainText1 {
    text-align: left;
    margin-right: 50px;
  }
  
  .rabbit2 img {
    max-width: 100%;
    height: auto;
  }
  
  .mainHeading {
    font-size: 54px;
    color: #3C3C3C;
    white-space: nowrap;
    margin-bottom: 30px;
  }
  
  .subHeading {
    font-size: 20px;
    color: #8C8C8C; 
  }
  
  .surHeading {
    font-size: 20px;
    color: #4A362B;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .brownText {
    font-size: 20px;
    color: #4A362B;
    font-weight: bold;
  }
  
  .brownText2 {
    font-size: 15px;
    color: #3C3C3C;
    font-weight: bold;
  }
  